{
  debug
}

{$DOMAIN} {
  encode gzip zstd

  # 1) API goes to backend, keep /api/*
  @api path /api/*
  handle @api {
    reverse_proxy api:3000
  }

  # 2) Everything else = SPA
  handle {
    root * /usr/share/caddy
    try_files {path} /index.html
    file_server
  }

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "no-referrer-when-downgrade"
  }
}
